{% extends 'base.html' %}

{% block content %}
<h1>Expenses List</h1>
<ul class="list-group">
  <li class="list-group-item">expense 1</li>
  <li class="list-group-item">expense 1</li>
  <li class="list-group-item">expense 1</li>
  <li class="list-group-item">expense 1</li>
  <li class="list-group-item">expense 1</li>
  <li class="list-group-item">expense 1</li>
  <li class="list-group-item">expense 1</li>
  <li class="list-group-item">expense 1</li>
  <li class="list-group-item">expense 1</li>
  <li class="list-group-item">expense 1</li>
</ul>
{% endblock content %}
