{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title py-2">
          <h4>Register Here</h4>
        </div>
        <form class="" action="index.html" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text"
                   name="Username"
                   id="username-field"
                   class="form-control">
          </div>
          <div class="form-group">
            <input type="email"
                   name="email"
                   id="email-field"
                   class="form-control form-control-sm">
          </div>
          <div class="form-group">
            <input type="password"
                   name="password"
                   id="password-field"
                   class="form-control form-control-sm">
                   <small class="float-right py-3">SHOW</small>
          </div>
          <input type="submit" value="register" class="btn btn-primary btn-block ">
        </form>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>


<script type="text/javascript" src="{% static 'js/register.js' %}">

</script>
{% endblock %}
